{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1>Posts</h1>
<div class='container'>
    <form method='POST' action='/'>
        {% if form %}
        {{ form.hidden_tag() }}
        <div class="col align-self-center">
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-sm is-invalid") }}
                    <div class='invalid-feedback'>
                        {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.title(placeholder="Add title", class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.ingridients.label(class="form-control-label") }}
                    {% if form.ingridients.errors %}
                    {{ form.ingridients(class="form-control form-control-sm is-invalid") }}
                    <div class='invalid-feedback'>
                        {% for error in form.ingridients.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.ingridients(placeholder="Add Ingridients", class="form-control
                    form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.recipe.label(class="form-control-label") }}
                    {% if form.recipe.errors %}
                    {{ form.recipe(class="form-control form-control-sm is-invalid")}}
                    
                    {% else %}
                    {{ form.recipe(placeholder="Recipe used", class="form-control
                    form-control-sm") }}
                    {% endif %}
                </div>
                
                
                <div class="form-group text-center">
                    <!--{{ form.submit.label(class="form-control") }}-->
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </div>
        {% endif %}
    </form>
</div>

{% endblock %}