{% extends 'base.html' %}

{% block head %}<title>Register</title>{% endblock head %}

{% block body %}
    <h4>Create an Account</h4>
    <br>

    <form action="" method="POST">
        {{ form.hidden_tag() }}
        
        <div>
        {{ form.email }}
        {% for error in form.email.errors %}
      <p>{{ error }}</p>
      {% endfor %}
        </div>
        <br>
        <div>
        {{ form.password }}
        {% for error in form.password.errors %}
      <p>{{ error }}</p>
      {% endfor %}
        </div>
        <br>
        <div>
        {{ form.cpwd }}
        {% for error in form.cpwd.errors %}
      <p>{{ error }}</p>
      {% endfor %}
        </div>
        <br>
        <div>
        {{ form.submit }}
        </div>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Log in</a></p>
{% endblock body %}